@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url("https://use.typekit.net/htt3uzf.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "alibaba-sans", sans-serif;
    scroll-behavior: smooth;
}
.home{
    background-color: rgba(0, 0, 0, 0.502);
    
}
.product{
    z-index: 0;
}
.landing{
    z-index: 1;
}